@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply font-inter bg-[#F8F7E2] text-white scroll-smooth antialiased h-fit;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background: #fe9bba;
}
::-moz-scrollbar {
  background-color: #fe9bba;
}
::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: #f8f7e2;
  border-radius: 20px;
}

/* Underline Effect */
.effect-underline:after {
  content: '';
  position: absolute;
  display: inline-block;
  height: 1em;
  width: 102%;
  border-bottom: 1px solid;
  margin-top: 10px;
  bottom: -2px;
  left: 1px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
.effect-underline:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* Blur and Spinners */
.blur-shadow1 {
  background-image: linear-gradient(#f8f7e2 35%, #fe9bba);
  animation: spinning82341 10s linear infinite;
  box-shadow: 0px 0px 80px 0px #f8f7e2, 0px 5px 20px 0px #fe9bba;
}
.blur-shadow2 {
  background-image: linear-gradient(#f8f7e2 35%, #fe9bba);
  animation: spinning82342 10s linear infinite;
  box-shadow: 0px 0px 80px 0px #f8f7e2, 0px 5px 20px 0px #fe9bba;
}
.spinner {
  animation: spinning82341 10s linear infinite;
  text-align: center;
}
.spinner1 {
  background-image: linear-gradient(#fe9bba 35%, #f8f7e2);
  animation: spinning82341 10s linear infinite;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
  filter: blur(3px);
  box-shadow: 0px 0px 80px 0px #fe9bba, 0px 2px 75px 0px #f8f7e2;
}
@keyframes spinning82341 {
  to {
    transform: rotate(360deg);
  }
}
@keyframes spinning82342 {
  to {
    transform: rotate(-360deg);
  }
}
@keyframes spinning82341 {
  to {
    transform: rotate(360deg);
  }
}
@keyframes spinning82342 {
  to {
    transform: rotate(-360deg);
  }
}

/* Background Hero Dotted Grid Animation */
#container-dotted-grid {
  position: absolute;
  transition: 0.5s;
  z-index: 5;
}
#dots::before {
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 170%;
  z-index: 5;
  height: 500%;
  animation: animStar 180s linear infinite;
}
#dots::before {
  z-index: 5;
  background-image: radial-gradient(#fe5b30 1px, transparent 1%);
  background-size: 50px 50px;
  opacity: 0.5;
}
@keyframes animStar {
  from {
    transform: translateY(-135rem);
  }
  to {
    transform: translateY(0);
  }
}

/* Marquee */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.animate-marquee {
  animation: marquee linear infinite;
  animation-duration: 200s;
}

/* Card Projects */
.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card b {
  position: absolute;
  z-index: 2;
}
.card .content {
  position: absolute;
  z-index: 3;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: scale(0);
  transition: 800ms;
}
.card:hover .content {
  transform: scale(1);
  bottom: 25px;
}

/* Project Article */
#article-body hr {
  height: 1px;
  background-color: #181818;
  border: none;
}
/* HEADINGS */
#article-body h2 {
  font-size: 1.875rem /* 30px */ !important;
  line-height: 2.25rem /* 36px */ !important;
  margin-bottom: 12px;
  font-weight: 700;
}
#article-body h3 {
  font-size: 1.5rem /* 24px */ !important;
  line-height: 2rem /* 32px */ !important;
  margin-bottom: 12px;
  font-weight: 700;
}
#article-body h4 {
  font-size: 1.25rem /* 20px */ !important;
  line-height: 1.75rem /* 28px */ !important;
  margin-bottom: 12px;
  font-weight: 700;
}
#article-body h5 {
  font-size: 1.125rem /* 18px */ !important;
  line-height: 1.75rem /* 28px */ !important;
  margin-bottom: 12px;
  font-weight: 700;
}
#article-body h6 {
  font-size: 1rem /* 16px */ !important;
  line-height: 1.5rem /* 24px */ !important;
  margin-bottom: 12px;
  font-weight: 700;
}
/* CODE BLOCK */
#article-body pre {
  max-width: 100%;
  background-color: #181818;
  margin-block: 8px;
  border-radius: 0.125rem /* 2px */;
  font-size: 1rem /* 16px */;
  line-height: 1.5rem /* 24px */;
  text-align: left !important;
  overflow-x: scroll;
  border-radius: 2px;
  background: #181818;
  box-shadow: inset 7px 7px 14px #111111, inset -7px -7px 14px #1f1f1f;
  padding: 1em !important;
  box-sizing: content-box;
}
#article-body code {
  width: 90%;
  color: #f8f7e2;
  font-weight: 300;
  background-color: transparent;
  text-align: left !important;
  box-sizing: content-box;
  border-radius: 0.125rem /* 2px */;
  cursor: text;
}
/* TABLE */
#article-body table {
  width: fit-content;
  margin-inline: auto;
}
#article-body th {
  text-align: center;
  padding: 8px;
  border: 1px solid #181818;
}
#article-body td {
  text-align: center;
  padding: 8px;
  border: 1px solid #181818;
  margin-inline: auto;
}
/* IMAGE */
#article-body img {
  border-radius: 50px;
  width: 600px;
  margin-inline: auto;
  object-fit: cover;
}
/* BLOCKQUOTE */
#article-body blockquote {
  border-left: 2px solid #18181895;
  padding-left: 8px;
}
/* STRONG */
#article-body strong {
  font-weight: 700;
}
/* Link */
#article-body a {
  text-decoration-line: underline;
}
