@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply font-inter bg-[#F8F7E2] text-white scroll-smooth antialiased h-fit;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background: #FE9BBA;
}
::-moz-scrollbar {
  background-color: #FE9BBA;
}
::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color:#F8F7E2;
  border-radius: 20px;
}

/* Underline Effect */
.effect-underline:after {
  content: '';
  position: absolute;
  display: inline-block;
  height: 1em;
  width: 102%;
  border-bottom: 1px solid;
  margin-top: 10px;
  bottom: -2px;
  left: 1px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
.effect-underline:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* Blur and Spinners */
.blur-shadow1 {
  background-image: linear-gradient(#F8F7E2 35%, #FE9BBA);
  animation: spinning82341 10s linear infinite;
  box-shadow: 0px 0px 80px 0px #F8F7E2, 0px 5px 20px 0px #FE9BBA;
}
.blur-shadow2 {
  background-image: linear-gradient(#F8F7E2 35%, #FE9BBA);
  animation: spinning82342 10s linear infinite;
  box-shadow: 0px 0px 80px 0px #F8F7E2, 0px 5px 20px 0px #FE9BBA;
}
.spinner {
  animation: spinning82341 10s linear infinite;
  text-align: center;
}
.spinner1 {
  background-image: linear-gradient(#FE9BBA 35%, #F8F7E2);
  animation: spinning82341 10s linear infinite;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
  filter: blur(3px);
  box-shadow: 0px 0px 80px 0px #FE9BBA, 0px 2px 75px 0px #F8F7E2;
}
@keyframes spinning82341 {
  to {
    transform: rotate(360deg);
  }
}
@keyframes spinning82342 {
  to {
    transform: rotate(-360deg);
  }
}
@keyframes spinning82341 {
  to {
    transform: rotate(360deg);
  }
}
@keyframes spinning82342 {
  to {
    transform: rotate(-360deg);
  }
}

/* Background Hero Dotted Grid Animation */
#container-dotted-grid {
  position: absolute;
  transition: 0.5s;
  z-index: 5;
}
#dots::before {
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 170%;
  z-index: 5;
  height: 500%;
  animation: animStar 180s linear infinite;
}
#dots::before {
  z-index: 5;
  background-image: radial-gradient(#FE5B30 1px, transparent 1%);
  background-size: 50px 50px;
  opacity: 0.5;
}
@keyframes animStar {
  from {
    transform: translateY(-135rem);
  }
  to {
    transform: translateY(0);
  }
}

/* Marquee */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.animate-marquee {
  animation: marquee linear infinite;
  animation-duration: 200s;
}

/* Card Projects */
.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card b {
  position: absolute;
  z-index: 2;
}
.card .content {
  position: absolute;
  z-index: 3;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: scale(0);
  transition: 800ms;
}
.card:hover .content {
  transform: scale(1);
  bottom: 25px;
}


.inner-shadoww {
  box-shadow: inset 0px 2px 5px rgb(0, 0, 0, 0.2);
}